html {
    box-sizing: border-box; /* Configura el box-sizing para incluir padding y borde en el tamaño total */
    font-size: 100%; /* Define el tamaño base de fuente como el 100% del tamaño predeterminado del navegador */
    font-family: "Alegreya", serif; /* Especifica una fuente serif "Alegreya" para el texto */
    height: 100%; /* Asegura que html ocupe toda la altura de la ventana */
}

*,
*::before, 
*::after { 
    box-sizing: inherit; /* Hereda el box-sizing definido en el html */
} 

* { 
    margin: 0; /* Resetea el margen predeterminado de todos los elementos */
    padding: 0; /* Resetea el relleno predeterminado de todos los elementos */
} 

h1 {
    font-size: 3rem; /* Ajusta el tamaño del texto del encabezado h1 */
    text-align: left; /* Alinea el texto del h1 a la izquierda */
}

h1 + p {
    font-size: 2rem; /* Define el tamaño de fuente para el párrafo que sigue directamente a un h1 */
    text-align: left; /* Alinea el texto a la izquierda */
}

h2{
    font-size: 1.5rem; /* Ajusta el tamaño del texto del encabezado h2 */
    padding-top: 1rem; /* Espaciado superior alrededor de h2 */
    padding-bottom: 1rem; /* Espaciado inferior alrededor de h2 */
}

p {
    font-size: 1rem; /* Define el tamaño del texto de los párrafos */
    margin-bottom: 1em; /* Añade espacio al final de cada párrafo */
    line-height: 1.6; /* Ajusta la altura de línea para mejorar la legibilidad */
}

.p-footer {
    margin-bottom: 0; /* Se elimina el margen inferior, útil para evitar separaciones indeseadas */
    font-size: 1rem; /* Define el tamaño de fuente como el estándar para consistencia */
    line-height: 1.6; /* Mejora la legibilidad al establecer una altura de línea cómoda */
}

.texto-foto {
    color: #FFFFFF; /* Texto blanco para alto contraste */
    text-shadow: 2px 2px 4px #000; /* Sombra para mejorar la separación */
    
    /* Fondo semitransparente detrás del texto */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia */
    padding: 10px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes suaves */
    display: inline-block; /* Ajusta el tamaño al texto */
}

body {
    text-align: left; /* Alinea todo el texto del documento a la izquierda */
    display: flex; /* Activa el diseño de caja flexible (Flexbox) en el cuerpo del documento */
    flex-direction: column; /* Organiza los elementos hijos en una sola columna */
    justify-content: center; /* Centra el contenido verticalmente dentro del cuerpo */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    background-color: #f7f9ec; /* Establece un color de fondo suave (verde claro) para el cuerpo */
}

header, footer {
    padding-left: 2rem; /* Añade espacio interno a la izquierda, manteniendo una separación uniforme */
    padding-right: 2rem; /* Añade espacio interno a la derecha, creando un diseño equilibrado */
}

footer, .a-footer {
    background-color: rgb(0, 0, 0); /* Establece un fondo negro para ambos elementos */
    color: rgb(255, 255, 255); /* Cambia el color del texto a blanco para mejor contraste */
    font-size: 1rem; /* Define el tamaño de fuente estándar para consistencia */
}

.flex-container {
    display: flex; /* Activa el diseño de caja flexible (Flexbox) para organizar los elementos dentro del contenedor */
    flex-direction: column; /* Organiza los elementos hijos en una columna, desde arriba hacia abajo */
    justify-content: center; /* Centra los elementos verticalmente dentro del contenedor */
    padding-top: 1rem; /* Añade espacio interno en la parte superior */
    padding-bottom: 1rem; /* Añade espacio interno en la parte inferior */
    padding-left: 3rem; /* Añade espacio interno a la izquierda */
    padding-right: 3rem; /* Añade espacio interno a la derecha */
}

.text-container {
    padding-left: 3rem; /* Añade un espacio interno amplio en el lado izquierdo para separar el contenido del borde */
    padding-right: 3rem; /* Proporciona un espacio interno similar en el lado derecho para mantener la simetría */
    padding-bottom: 2rem; /* Agrega un espacio interno en la parte inferior para crear separación vertical entre los elementos */
}

.text-container-carr {
    padding-left: 3rem; /* Añade un espacio interno amplio en el lado izquierdo para separar el contenido del borde */
    padding-right: 3rem; /* Proporciona un espacio interno similar en el lado derecho para mantener la simetría */
    padding-bottom: 2rem; /* Agrega un espacio interno en la parte inferior para crear separación vertical entre los elementos */
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items:flex-start; /* Centra los elementos horizontalmente */
    text-align: left; /* Asegura que el texto esté centrado */
}

.full-img-container {
    position: relative; /* Establece la posición del contenedor como relativa, permitiendo que los elementos hijos con posición absoluta se ubiquen dentro de este contenedor */
    background-size: cover; /* Configura el tamaño del fondo para que cubra completamente el contenedor sin deformarse */
    background-position: center; /* Centra la imagen de fondo dentro del contenedor */
    height: 50vh; /* Define la altura del contenedor como el 50% de la altura de la ventana visible */
    transition: background-image 1s ease-in-out; /* Aplica una transición suave de 1 segundo al cambiar la imagen de fondo */
    color: #F5F5F7; /* Establece el color del texto como un blanco grisáceo */
    display: flex; /* Activa el uso de Flexbox para organizar los elementos dentro del contenedor */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    justify-content: left; /* Alinea los elementos hijos horizontalmente hacia la izquierda */
}

.img-container-menu {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    max-width: 100%; /* Limita el ancho del contenedor */
    height: auto; /* Ajusta la altura según el contenido */
}

.img-container-menu img {
    width: 100%; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
    display: block; /* Elimina cualquier espacio no deseado */
}

.grid, .grid-invertido {
    display: grid; /* Activa CSS Grid */
    grid-template-columns: 1fr; /* Una sola columna */
    align-items: center; /* Alinea verticalmente al centro */
    gap: 1rem; /* Espaciado entre las columnas */
    margin-bottom: 1rem; /* Separación entre secciones */
    height: auto; /* Permite que el contenido se ajuste dentro */
}

.texto {
    text-align: justify; /* Ajusta alineación del texto */
}

.imagen picture, .imagen img {
    width: 100%; /* La imagen siempre ocupa todo el contenedor. */
    height: auto; /* Mantiene las proporciones originales de la imagen al ajustar la altura automáticamente */
    object-fit: cover; /* Hace que la imagen llene el contenedor y recorte cualquier exceso, preservando una apariencia equilibrada */
}

.imagen-pasar-container {
    position: relative; /* Establece el contenedor como relativo, permitiendo que los elementos hijos con posición absoluta se posicionen dentro de él */
    display: flex; /* Activa Flexbox para organizar los elementos dentro del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
    align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
}

.imagen-pasar-container img {
    width: 100%; /* La imagen ocupará todo el ancho disponible del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen evitando distorsiones */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin perder proporción */
    display: block; /* Evita espacios adicionales debajo de la imagen al tratarla como un bloque */
}

.flechas {
    position: absolute; /* Posiciona los botones de forma precisa dentro del contenedor padre */
    background-color: rgba(0, 0, 0, 0.5); /* Aplica un fondo negro semitransparente para las flechas */
    border: none; /* Elimina cualquier borde visible */
    color: white; /* Establece el color blanco para las flechas, asegurando contraste */
    font-size: 1rem; /* Ajusta el tamaño de fuente para las flechas, haciéndolas visibles pero no invasivas */
    cursor: pointer; /* Cambia el cursor a forma de mano al pasar sobre el botón, indicando que es interactivo */
    padding: 0.5rem; /* Proporciona espacio interno alrededor de las flechas */
    border-radius: 50%; /* Crea botones perfectamente circulares */
    width: 40px; /* Define el ancho de los botones, garantizando su tamaño compacto */
    height: 40px; /* Define la altura para mantener proporciones uniformes con el ancho */
}

.flechas:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Cambia el fondo a blanco semitransparente al pasar el cursor, añadiendo un efecto visual atractivo */
    color: black; /* Modifica el color del texto a negro para mantener un contraste claro con el nuevo fondo */
}

#btn-prev-quienes, #btn-prev-menu, #btn-prev-chef {
    left: 30px; /* Coloca los botones 10px hacia la izquierda desde el borde del contenedor */
    top: 50%; /* Alinea los botones verticalmente al centro del contenedor */
    transform: translateY(-50%); /* Ajusta la posición vertical para asegurar que los botones estén perfectamente centrados */
}

#btn-next-quienes, #btn-next-menu, #btn-next-chef {
    right: 30px; /* Coloca los botones 10px hacia la derecha desde el borde del contenedor */
    top: 50%; /* Alinea los botones verticalmente al centro del contenedor */
    transform: translateY(-50%); /* Ajusta la posición vertical para que los botones queden perfectamente centrados */
}

#imagen_quienes, #imagen_menu, #imagen_chef {
    width: 100%; /* Ajusta el ancho de las imágenes al tamaño del contenedor, asegurando que ocupen todo el espacio disponible */
    height: auto; /* Mantiene las proporciones originales de las imágenes al ajustar la altura automáticamente */
    object-fit: cover; /* Escala las imágenes para llenar el contenedor, recortando si es necesario para mantener proporciones equilibradas */
}

.ul-nav {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    list-style-type: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
    text-transform: uppercase; /* Texto en mayúsculas */
}

.ul-nav li {
    margin-left: 20px; /* Espaciado entre los elementos */
}

.ul-nav .active a {
    color: rgb(203, 60, 4); /* Cambia el color del enlace a rojo */
    font-weight: bold; /* Pone el texto de los elementos en negrita */
}

.ul-nav a {
    text-decoration: none; /* Elimina el subrayado */
    color: #000000; /* Cambia el color del texto */
    font-weight: bold; /* Pone el texto de los elementos en negrita */
}

.ul-nav li a:hover {
    color:rgb(141, 71, 43); /* Cambia el color al pasar el ratón */
}

.dos-columnas {
    display: grid; /* Activa CSS Grid */
    grid-template-columns: 1fr; /* Crea una sola columna (Móviles) */
    gap: 1rem; /* Espaciado entre las columnas */
    align-items:flex-start; /* Alinea verticalmente al centro */
}

.dos-columnas-footer {
    display: grid; /* Activa CSS Grid */
    grid-template-columns: 1fr 1fr; /* Crea dos columnas (Móviles) */
    gap: 1rem; /* Espaciado entre las columnas */
    align-items:flex-start; /* Alinea verticalmente al centro */
}

.tres-columnas {
    display: grid; /* Activa CSS Grid */
    grid-template-columns: 1fr; /* Crea una sola columna (Móviles y Tablets) */
    align-items:flex-start; /* Alinea verticalmente los elementos al centro */
    text-align: center; /* Centra el texto en las celdas */
    gap: 1rem; /* Espaciado entre las columnas */
}

.cuatro-columnas {
    display: grid; /* Activa CSS Grid */
    grid-template-columns: 1fr; /* Crea una columna (Móviles) */
    gap: 0.5rem; /* Espaciado entre las columnas */
    align-items: flex-start; /* Alinea verticalmente los elementos */
    text-align: center; /* Centra el texto en las celdas */
}

.dos-columnas-header {
    display: flex; /* Utiliza flexbox para diseño flexible */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Acomoda elementos a ambos lados */
    padding-right: 2rem; /* Espaciado a la derecha del menú */
}

form {
    background: white; /* Establece un fondo blanco para el formulario, creando un contraste limpio y profesional */
    padding: 20px; /* Añade un espacio interno uniforme alrededor del contenido del formulario */
    border: 1px solid #ccc; /* Aplica un borde gris claro para definir visualmente el formulario */
    border-radius: 5px; /* Redondea las esquinas del formulario para un diseño más amigable */
}
  
form label {
    display: block; /* Hace que las etiquetas se comporten como elementos de bloque, ocupando toda la línea */
}
  
form input, form textarea {
    width: 100%; /* Ajusta el ancho de los campos al 100% del contenedor para maximizar espacio disponible */
    padding: 10px; /* Añade espacio interno uniforme dentro de los campos para mejorar la estética y usabilidad */
    border: 1px solid #ccc; /* Aplica un borde gris claro para definir los límites de los campos */
    border-radius: 5px; /* Redondea las esquinas de los campos para un diseño más amigable */
}
  
form button {
    background-color: #6d9e31; /* Establece un color verde oscuro para los botones */
    color: white; /* Aplica texto blanco para asegurar contraste y visibilidad */
    border: none; /* Elimina los bordes del botón para una apariencia más limpia */
    padding: 10px 15px; /* Ajusta el espacio interno para hacer los botones cómodos de usar */
    cursor: pointer; /* Cambia el cursor a forma de mano cuando el usuario pasa sobre el botón */
    border-radius: 5px; /* Redondea las esquinas del botón para un diseño más moderno y accesible */
}
  
form button:hover {
    background-color: #5b8528; /* Cambia el color del botón a verde más oscuro al pasar el cursor, creando un efecto visual atractivo */
}

ul {
    padding: 0; /* Elimina el relleno predeterminado para las listas, asegurando una apariencia más ajustada */
    list-style-type: none; /* Elimina las viñetas predeterminadas de las listas */
}
  
ul li {
    margin: 5px 0; /* Añade separación vertical uniforme entre los elementos de la lista */
}

.mapa-google {
    width: 100%; /* Asegura que el mapa ocupa todo el ancho del contenedor */
    height: 400px; /* Define una altura fija para el mapa, garantizando su visibilidad */
    border: 0; /* Elimina bordes alrededor del mapa */
    border-radius: 10px; /* Redondea las esquinas del mapa para un diseño más suave y moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aplica una sombra ligera para dar profundidad visual */
    margin: 20px 0; /* Añade separación vertical alrededor del mapa para evitar que esté demasiado cerca de otros elementos */
}

.figcaption-left {
    text-align: left; /* Alinea el texto dentro del elemento figcaption a la izquierda */
    margin-top: 15px; /* Añade espacio en la parte superior del elemento para separación visual */
    margin-bottom: 15px; /* Añade espacio en la parte inferior del elemento para separación visual */
}

figure {
    margin: auto; /* Centra el elemento figure dentro de su contenedor */
}

.video-container {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 560px;
    position: relative; /* Define el contenedor como relativo para que los elementos hijos se posicionen dentro de él */
    padding-top: 56.25%; /* Configura una proporción de 16:9 (relación altura/ancho) para el contenedor de video */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    color: rgb(203, 60, 4); /* Aplica un color naranja oscuro al texto del enlace */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

.link:hover {
    color: rgba(141, 71, 43); /* Cambia el color del enlace a un tono más oscuro al pasar el cursor, creando un efecto visual agradable */
}

.link::after{
    content: ''; /* Vacío */
    display: inline-block; /* Necesario para que funcione background-image */
    width: 10px; /* Ancho de la imagen */
    height: 10px; /* Altura de la imagen */
    background-image: url('../img/external-link.svg'); /* Imagen del link */
    background-size: contain; /* Se ajusta dentro del elemento */
    background-repeat: no-repeat; /* No se repite */
}

.logo {
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Mantiene las proporciones originales */
}

.menu-item {
    display: flex; /* Activa Flexbox para crear un diseño flexible y ordenado */
    flex-direction: column; /* Organiza los elementos dentro del contenedor en una sola columna */
    justify-content: space-between; /* Distribuye los elementos con espacio uniforme, asegurando que el botón quede al final */
    height: 100%; /* Establece que el contenedor ocupe toda la altura disponible */
    background-color: rgb(255, 255, 255); /* Aplica un fondo blanco para un diseño limpio y claro */
    padding: 10px; /* Añade espacio interno alrededor de los elementos para evitar que se amontonen contra los bordes */
    transform: scale(1); /* Define un estado inicial sin transformaciones ni escalado */
    border-radius: 25px; /* Bordes redondeados*/
}

.clip-image {
    width: 300px; /* Define el ancho fijo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    clip-path: inset(5% round 20px); /* Recorta la imagen con bordes redondeados */
}

.precio {
    font-size: 0.8rem; /* Ajusta el tamaño del texto para hacerlo más pequeño, ideal para precios */
    padding-bottom: 1rem; /* Añade espacio debajo del precio para separarlo de otros elementos */
}

.pregunta {
    font-size: 1rem; /* Define un tamaño de fuente estándar para mantener la legibilidad */
    padding-top: 1rem; /* Añade espacio en la parte superior para separación visual */
    padding-bottom: 2rem; /* Añade espacio extra en la parte inferior para mayor separación */
    text-align: center; /* Centra el texto dentro del contenedor */
}

@keyframes pulsar {
    0% { transform: scale(1); } /* Estado inicial: tamaño normal */
    50% { transform: scale(1.1); } /* Aumenta un 10% de tamaño, creando el efecto de expansión */
    100% { transform: scale(1); } /* Vuelve a su tamaño original */
}

.saber-mas {
    display: inline-block; /* Permite que el botón se comporte como un elemento en línea con capacidad de ajustar su tamaño */
    padding: 0.5rem 1rem; /* Espaciado interno */
    font-size: 1.2rem; /* Tamaño del texto */
    text-align: center; /* Alinea el texto del botón al centro */
    text-decoration: none; /* Sin subrayado */
    background-color: rgb(203, 60, 4); /* Naranja oscuro */
    color: white; /* Texto en blanco */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Interactivo */
    width: auto; /* Ajusta automáticamente el ancho al contenido */ 
    height: auto; /* Ajusta la altura según el texto */
    white-space: nowrap; /* Evita el salto de línea del texto */
    animation: pulsar 1.5s infinite ease-in-out; /* Pulso suave */
    transition: background-color 0.3s ease-in-out; /* Cambio de color progresivo */
}

.saber-mas:hover {
    background-color: rgba(141, 71, 43); /* Color más oscuro al pasar el cursor */
}

@keyframes deslizarArriba {
    0% { 
        opacity: 0; /* Inicialmente invisible */
        transform: translateY(50px); /* Desplazado 50px hacia abajo */
    }
    100% { 
        opacity: 1; /* Totalmente visible */
        transform: translateY(0); /* Se coloca en su posición original */
    }
}

.menu-item, .imagen {
    opacity: 0; /* Inicialmente oculto */
    animation: deslizarArriba 1.5s ease-in-out forwards; /* Aplica la animación */
}

/* Efecto escalonado */
.menu-item:nth-child(1), .imagen:nth-child(1) { animation-delay: 0s; } /* Primer elemento aparece de inmediato */
.menu-item:nth-child(2), .imagen:nth-child(2) { animation-delay: 0.3s; } /* Segundo elemento aparece tras 0,3 segundos */
.menu-item:nth-child(3), .imagen:nth-child(3) { animation-delay: 0.6s; } /* Tercer elemento aparece tras 0,6 segundos */

/* Tablets */
@media (min-width: 768px) {

    .flex-container {
        justify-content: space-between; /* Distribuye los elementos en el contenedor flexible con espacio uniforme entre ellos */
    }

    .ul-nav {
        flex-direction: row; /* Cambia la disposición de la navegación a una fila horizontal */
        justify-content: center; /* Centra los elementos de la navegación horizontalmente */
    }

    .grid {
        grid-template-columns: 2fr 1fr; /* El texto ocupa 2/3 y la imagen 1/3 */
        gap: 1rem; /* Espaciado entre las columnas */
    }

    .grid-invertido {
        grid-template-columns: 1fr 2fr; /* La imagen 1/3 y el texto ocupa 2/3 */
        gap: 1rem; /* Espaciado entre las columnas */
    }

    .dos-columnas {
        grid-template-columns: 1fr 1fr; /* Crea dos columnas iguales */
        gap: 1rem; /* Espaciado entre las columnas */
    }

    .cuatro-columnas {
        grid-template-columns: 1fr 1fr; /* Crea dos columnas iguales (Tablets) */
        gap: 1rem; /* Espaciado entre las columnas */
    }
}

/* Ordenadores */ 
@media (min-width: 1024px) {

    .ul-nav {
        flex-direction: row; /* Organiza los elementos de navegación en una fila horizontal */
        justify-content: center; /* Centra los elementos de navegación horizontalmente */
    }

    .grid {
        grid-template-columns: 2fr 1fr; /* El texto ocupa 2/3 y la imagen 1/3 */
        gap: 1rem; /* Espaciado entre las columnas */
    }

    .grid-invertido {
        grid-template-columns: 1fr 2fr; /* La imagen 1/3 y el texto ocupa 2/3 */
        gap: 1rem; /* Espaciado entre las columnas */
    }

    .tres-columnas {
        grid-template-columns: 1fr 1fr 1fr; /* Crea tres columnas iguales */
    }

    .cuatro-columnas {
        grid-template-columns: 0.5fr 1.5fr 2.5fr 1fr; /* El ancho de cada columna se ajusta al contenido */
        gap: 1rem; /* Espaciado entre las columnas */
    }
}
